# network:
#   version: 2
#   ethernets:
#     ens18:
#       dhcp4: true

users:
  - name: ansible
    groups: [adm, sudo]
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC5oml7T6zPTqFccBcJF3ZXvU43yZQDxoynKV1xK3JzejdDq0XEHJ3yp8jvYeJte0v+kZbuDuGL/S+fPA6XUWaQaiynxlGbiJvJL3397nC6IThqQJ+4BcC2A4d6BDSTDfJirfqq0EQ31FBbSutjV1dtjYXfHXKiq2NILFv150XFRtwhmCimihbcdYEu9HJDdn0x33l/xrgTReU9KnuGotvQwUI6R4LdB2fuQzTuMe4HmkRyLaziT3TJqJe2TiX63o6RjRSYHypnYD0HSTpMfsj9yZHuooHMXxcvVAef1VBual9iDnQo1jEjcSu1VUXYlGOTkgqsyji9YH01WxOMXkA7t807/CD7ljditwJPpcpG6JxyhnKKqKKDfnBgePvfU/WENo2WaKIU+3M1DJBfNRMP5w2NompB33wxdoW/7EPmamJzgFehKWqGpcJdmZWrOfRIV/Mam/LeEjekbkR6MudPFhhlZyNDGmtW4r3VK/6S65AVH6b/GKw0MTpsKfujTDU= packer@builds-ubuntu